<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stundenzettel</ion-title>
    <!-- <account-actions></account-actions> -->
    <ion-buttons end>
      <button ion-button icon-right>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ year }}</h1>
  
  <button ion-button icon-only icon-left>
    <ion-icon name="ios-arrow-back"></ion-icon>
  </button>
  <h2>{{ month }}</h2>
  <button ion-button icon-only icon-right>
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </button>

  <div class="timesheet-week" *ngFor="let week of timesheet">
    <h2>KW {{ week.weekNumber }}</h2>
    <span *ngFor="let day of week.days">
      <timesheet-timepicker [day]="day"></timesheet-timepicker>
    </span>
  </div>
</ion-content>
