<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stundenzettel</ion-title>
    <!-- <account-actions></account-actions> -->
    <ion-buttons end>
      <button ion-button icon-right>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <button clear color="dark" ion-button block (click)="yearPicker.open()">
    <ion-datetime #yearPicker
                  displayFormat="YYYY"
                  pickerFormat="YYYY"
                  [(ngModel)]="year">
    </ion-datetime>
  </button>
  
  <button clear color="dark" ion-button icon-only icon-left (click)="previousMonth()">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </button>
  <button class="month-selector" clear color="dark" ion-button (click)="selectMonth()">
    {{ month | month }}</button>
  <button clear color="dark" ion-button icon-only icon-right (click)="nextMonth()">
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </button>

  <div class="timesheet-week" *ngFor="let week of (timesheet | async)">
    <h2>KW {{ week.weekNumber }}</h2>
    <timesheet-timepicker [day]="day" *ngFor="let day of week.days"></timesheet-timepicker>
  </div>

</ion-content>
